body {
    font-family: "Avenir Next", "Helvetica Neue", Helvetica;
}
#main_container {
    position: relative;
    font-size: 1.1em;
    margin: auto;
    height: 180px;
    width: 600px;
    display:center;
    align-items: center;
}